.detail-btn {
    display: inline-block;
    line-height: 1;
    font-size:10px;
    font-weight: 200;
    padding: 5px 20px;
    background-color: #333;
    color: #fff !important;
}

.total-text{
	float: right;
	font-size: 10px;
	color: #777;
}

.page-content{
	width:90%;
	margin: 0 auto;
}

.grid-outer {
	padding: 0 20px;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.grid-outer:last-child{
	 border-right: none;
}

.post-wrap {
    display: block;
    position: relative;
    overflow: hidden;
    outline: none!important;
}

.post-wrap.post-grid {
    margin-top: 30px;
    margin-bottom: 30px;
}

.post-thumb{
	font-size: 0;
}

.post-header {
	margin-top: 20px;
	margin-bottom: 5px;
}

.post-header-info {
    text-align:center;
    letter-spacing: 2px;
    font-size: 20px;
}

.cate-text {
	width: 30%;
	margin:15px;
	padding:5px;
    border-bottom: 1px solid #2b2b2b;
    display: inline-block;
    overflow: hidden;
}

.post-thumb a {
    width: 100%;
    height: 200px;
    display:inline-block;
}

.post-desc{
	line-height: 20px;
	margin: 0 0 5px 0;
	overflow: hidden;
}

.post-footer{
	margin: 15px 0;
}

.post-cate-info {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 200;
    font-size: 10px;
}

.post-cate-info > p{
	line-height: 21px;
}

.post-actor-link{
	display:block;
}

.cate-info-cell{
	max-width: 200px;
	max-height: 21px;
    border-bottom: 1px solid #76abbf;
    display: inline-block;
    overflow: hidden;
}

.cate-text-first {
	padding: 5px;
	font-size:12px;
	font-weight: 200;
	color: white;
    background-color: #76abbf;
}

.cate-text-remain {
	margin-left: 5px;
    text-shadow: none;
}

.cate-info-price{
	float: right;
	color: #777;
}


