html{
	height: 100% !important;
}

body{
	height: 100% !important;
}

*{
	font-weight: 200;
}

.bootstrap-datetimepicker-widget a.btn{
	color: #2b2b2b !important;
}

.bootstrap-datetimepicker-widget a.btn:hover{
	color: #2b2b2b !important;
}

a{
	color: #2b2b2b;
	font-weight: 200;
	cursor: pointer;
}

a:hover{
	color:#76abbf !important;
	text-decoration: none;
}

a.btn, a.btn:hover{
	color: white !important
}

a.disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
}

h1,h2,h3{
	margin:0;
}

p{
	padding: 0;
	margin: 0;
}

label{
	font-weight: 200;
}

ul{
	list-style: none;
	padding: 0;
}

ul:focus{
	outline: 0;
}

.form-label b{
	color: #FF3B30;
}

.form-group{
	position: relative !important;
}

.form-control{
	color: #2b2b2b !important;
}

.txt-center{
	text-align: center; 
}

h4.modal-title{
	text-align: center;
	font-weight: 400;
}

.bold-style{
	font-size: 120%;
	font-weight:600;
}

.right{
	display: inline-block;
	float: right;
}

.left{
	display: inline-block;
	float:left;
}

.link-img{
	display:inline-block;
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.img-circle {
    border-radius: 50%;
}

.centered {
    text-align: center;
}

p.empty{
	text-align: center;
	color: #777;
}

.top-bar-wrap{
	border-bottom: 1px solid #eee;
}

#top-bar{
	width:80%;
	min-width: 1200px;
	min-height: 48px;
	margin: auto;
}

.orange{
	color:#FF5E3A;
}

.purple{
	color: #5856D6;	
}

.blue{
	color: #007AFF;
}

.pink{
	color: #E492A2;
}

.red{
	color: #FF3A2D;
}

.grey{
	color: #777;
}

.noborder{
	border:inherit !important;
}

#logo_link{
	line-height: 48px;
}

.mod-header__wrap-login {
    padding-right: 74px;
    height: 48px;
    position: relative;
    float: right;
    line-height: 48px;
    text-align: right;
}

.mod-header__wrap-login .mod-header__link-login, .mod-header__wrap-login .mod-header__link-help {
    font-size: 12px;
    padding: 0 5px;
    display: inline-block;
}

.mod-header__wrap-login .mod-header__link-help:before {
    position: relative;
    display: inline-block;
    top: 2px;
    width: 15px;
    height: 14px;
    border-left: solid 1px #ccc;
    content: "";
}

.apply-entrance {
	height: 48px;
    position: absolute;
    right: 0;
    font-size: 12px;
    top: 0;
}

.apply-entrance .apply-tt {
    padding: 0 12px !important;
    line-height: 48px;
    margin:0;
}

.apply-entrance .apply-tt:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -2px;
    border-top: 4px solid;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    transition: transform .3s;
    overflow: hidden;
}

.apply-entrance:hover .apply-link-list{
	display:block
}

.mod-header_wrap-user:hover .mod-header__user-operations{
	display:block
}

.apply-entrance:hover .apply-tt:after {
    transform: rotate(180deg);
}

.apply-entrance .apply-link-list {
    position: absolute;
    top: 100%;
    right: 0;
    border: 1px solid #dbdbdb;
    background-color: white;
    width: 120px;
    text-align: center;
    z-index: 5;
    display: none;
}

.apply-entrance .apply-link-list li:first-child {
    border-top: 0;
}

.apply-entrance .apply-link-list a {
    display: block;
    padding: 0 10px;
    line-height: 40px;
}

.mod-header_wrap-user {
    position: relative;
    display: block;
    float: left;
    text-align: left;
    margin-right: 10px;
}

.mod-header_wrap-user .icon-red-circle {
    background: #f94d4d;
    border-radius: 5px;
    width: 8px;
    height: 8px;
    position: absolute;
    top: 0;
    left: 35px;
}

.mod-header_wrap-user .mod-header__user-img {
    width: 40px;
    height: 40px;
    margin-top: 4px;
    border-radius: 20px;
    float: left;
}

.mod-header_wrap-user .mod-header__user-name {
    width: 60px;
    margin: 0 0 0 45px !important;
    font-size: 12px;
}

.mod-header_wrap-user .mod-header__user-name a {
    display: block;
    position: relative;
    max-width: 64px;
    padding-right: 10px;
    color: #333;
}

.mod-header_wrap-user .mod-header__user-name a:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -2px;
    border-top: 4px solid;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    transition: transform .3s;
    overflow: hidden;
}
.mod-header_wrap-user .mod-header__user-operations {
    width: 84px;
    position: absolute;
    left: 20px;
    border: 1px solid #ddd;
    z-index: 5;
    display: none; 
    font-size: 12px;
}
.mod-header_wrap-user .mod-header__user-operations a {
    background: #fff;
    display: block;
    line-height: 30px;
    text-align: center;
}

/** Navigation Bar Start **/

.bread-crumb {
	width: 80%;
	min-width: 1200px;
    line-height: 30px;
    margin: 15px auto;
}

.bread-crumb > i{
	margin: 8px;
	font-size: 16px;
}

.bread-crumb-item.item-current{
	color: #777 !important;
}

/** Navigation Bar End **/

/** alert start **/

.alert-danger, .alert-success, .alert-warning{
	width: 500px;
	height: 49px;
	top: -49px;
	left: 50%;
	display: none;
	opacity: 0;
	text-align: center;
	position: fixed;
	z-index: 100;
	transform: translate(-50%, 0);
	box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}

.alert.appear{
	display: inline-block;
	opacity: 1;
}

/** alert end **/

/* Entry Model Start */
.login-page {
  margin: auto;
}

.err-msg, label.error{
	color: #FF3B30;
	float: left;
	margin-bottom: 15px;
	font-weight: 200;
}

.entry-form-wrap {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  padding: 30px 45px;
  text-align: center;
}

.entry-form-wrap h3{
	margin-top: 0px;
	margin-bottom: 20px;
	font-weight: 200;
}

.entry-form-wrap input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.entry-form-wrap input[type='submit'] {
  outline: 0;
  background: #76abbf;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.entry-form-wrap input[type='submit']:hover,.form input[type='submit']:active,.form input[type='submit']:focus {
  background: #6292A3;
}
.entry-form-wrap .message {
  margin: 15px 0 0;
  color: #777;
  font-size: 12px;
  clear: both;
}
.entry-form-wrap .message a {
  color: #76abbf;
  text-decoration: none;
}
.entry-form-wrap #register-form {
  display: none;
}

/* Entry Model End */

/** Button Spinner Start **/

.form-btn-spinner{
	color: white;
	display:inline-block;
	position: absolute;
	top: 18px;
	right: 30px;
}

.spinner{
	color: white;
	display:inline-block;
	position: absolute;
	top: 10px;
	right: 34px;
}

.glyphicon-spinner {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin .7s infinite linear;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

/** Button Spinner End **/

/** Create Lesson Dashboard Start **/

#dash-content{
	padding: 20px 0;	
}

.dash-bg{
	background-color: #F5FAFC;
}

.dash-block{
	border-radius: 4px;
	background-color: white;
	margin: 0 10px;
	padding: 15px;
	position: relative;
	border:1px solid #E0F4FE;
}

.dash-block > a{
	width: 150px;
	height: 80px; 	
	vertical-align: middle;
}

.lesson-brief{
	margin: 0 15px;
	display: inline-block;
    vertical-align: middle;
}

#sidebar > p:first-child{
	margin: 10px 0;
	color: #777;
}

.btn-wrap{
	position: absolute;
	top: 50%;
	right: 15px;
	-ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%); 
}

.btn-wrap > div{
	display: inline-block;
	position: relative;
}

.btn-wrap .btn{
	color: white !important;
	width: 82px;
	height: 34px;
}

#profile-link > img{
	width: 60px;
	height: 60px;
}

#sidebar {
	position: absolute;
    width: 240px;
    min-height: 638px;
    margin: 10px;
    overflow: hidden;
    outline: none; 
    z-index: 100;
}

.dash-block > p{
	margin-top: 30px;
	margin-bottom: 10px;
	color: #777;
}

#sidebar ul li {
    position: relative;
}

ul.sidebar-menu li {
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 15px;
}

ul.sidebar-menu li a {
    text-decoration: none;
    display: block;
    padding: 10px 0 10px 10px;
    font-size: 12px;
    outline: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

ul.sidebar-menu li a i {
    font-size: 15px;
    padding-right: 6px;
}

ul.sidebar-menu li a span {
    display: inline-block;
}

ul.sidebar-menu li a.active {
    color:#76abbf !important;
}

ul.sidebar-menu li a > span, i{
	color: inherit;
}

#dash-detail-wrap{
    width: 100%;
    margin-top: 10px;
}

#dash-detail{
	margin-left: 260px;
	min-height: 638px;
}

#dash-detail .form-label, #dash-detail .form-input{
	display:inline-block;
}

.dash-detail-header{
	position: relative;
}

.dash-detail-header > p{
	margin: 0 0 30px 0 !important;
	padding: 10px 0;
	border-bottom: 1px solid #eee;
	color: #777;
}

.dash-detail-header > a{
	position: absolute;
    top: 0;
    right: 0;
    color: white !important;
    display: inline-block;
}

.dash-detail-header > a > i{
	margin-right: 5px;
	font-size: 120%;
	vertical-align: middle;
}

/** Create Lesson Dashboard End **/

/** Create Lesson Dashboard Custom Content Start **/

.lesson-dash .form-label {
    width: 15%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    font-weight: 200;
}

.lesson-dash .form-input {
    width: 70%;
    display: inline-block;
}

.lesson-dash .froala-box, #teacher-settle-content .froala-box{
    min-height: 96px;
    height: 240px;
    overflow: auto;
    padding: 6px 12px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

/** Create Lesson Dashboard Custom Content End **/

/** Tag Style Start **/

#lesson-category-wrap label.category-lbl{
	min-width: 112px;
	line-height: 36px;
	display: inline-block;
	margin:0 2px;
	text-align: center;
	border: 2px solid #F1F1F1;
	background-color: #F1F1F1;
}

#lesson-category-wrap input{
	display: none;
}

#lesson-category-wrap a{
	width: 100%;
	height: 100%;
	position: relative;
	display: inline-block;
	padding: 0 16px;
}

#lesson-category-wrap label.selected{
	color: #608908;
	border: 2px solid #a5c85b;
}

.icon-check{
	width: 16px;
	height: 16px;
	line-height: 16px;
	position: absolute;
	bottom: 0;
	right: 0;
	display: inline-block;
	vertical-align: middle;
	visibility: hidden;
	z-index:999;
	background: url(../images/elements.png) no-repeat;
}

#lesson-category-wrap label.selected .icon-check{
	visibility: visible;
	background-position: -112px -72px;
}

/** Tag Style End **/

/** Lesson Image Upload Start **/
.image-wrap{
	display: block;
	width: 100%;
	margin:0 !important;
	text-align: center;
	position: relative;
}

#lesson-cover, .uploader, .file-item{
	width: 18%;
	max-width: 280px;
	min-height: 125px;
	padding:10px;
	margin: 0 15px 15px 0;
	position: relative;
	display:inline-block;
	background-size: cover;
	background-repeat: no-repeat;
	vertical-align: bottom;
}

.uploader{
	border: 2px dashed #C8CBCE;
	text-align: center;
	font-size: 20px;
	background: #F9FBFE;
}

.uploader i{
	color: #97A1A8 !important;
}

.upload-text p {
    margin: 0;
    font-size: 0.7em;
    font-weight: 200;
    color: #97A1A8 !important;
}

.upload-text p.small-p{
	font-size: 50%;
    margin: 3px;
}

.upload-text span {
    font-size: 0.5em;
    display:inline-block;
    color: #97A1A8 !important;
}

.browse-btn {
	color: #76abbf;
    border: 1px solid #76abbf;
    display: inline-block;
    position: relative;
    padding: 5px 8px;
    outline: 0;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    font-weight: 200;
    font-size: 0.5em;
    border-radius: 3px;
    vertical-align: middle;
    background-color: transparent;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .05);
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
}

.browse-btn:hover {
    border-color: transparent;
    color: #fff !important;
    background: #76abbf;
}

.browse-btn > div{
	position: absolute;
    opacity: 0;
    margin: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
}

input.file-input{
    opacity: 0;
    margin: 0;
    height: 100%;
}

.lesson-img{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: block;
}

.link-img-overlay{
	width:100%;
	height: 100%;
    background: #3DC0F1;
    background-size: 50px 50px;
    opacity: 0;
    filter: alpha(opacity=0);
    transition: all 0.6s;
}

.file-item:hover .link-img-overlay,  .file-item:hover .action-btn-wraper{
    opacity: 0.8;
}

.file-item .action-btn-wraper{
	font-size:0;
}

.uploader > i.glyphicon-refresh{
	z-index: 999;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    margin-top: -7px;
    left: 50%;		
    margin-left: -7px;
    color: #97A1A8 !important;
}

.action-btn-wraper{
	position: absolute;
	top: 50%;
	left: 50%;
	opacity: 0;
    filter: alpha(opacity=0);
    transition: all 0.6s;
	transform:translate(-50%, -50%);
}

.action-btn-wraper img{
	width: 30px;
	height: 30px;
	margin: 10px;
}

.action-btn-wraper > a{
	display: inline-block;
}

.img-upload-info{
	width: 60%;
	margin: 15px auto;
	font-size: 0.8em;
}

.img-upload-info > ul{
	padding: 0 10px;
	list-style-type: disc !important;
}

.img-upload-info li{
	color: #31708f !important;
}

#img-info-model div.checkbox{
	margin: 0;
}

#img-info-model i.glyphicon-refresh{
	position: absolute;
    left: 50%;
    top: 50%;
    color: white;
    margin-top: -7px;
    margin-left: -7px;
}

#img-info-model .froala-box{
	height: inherit;
}

/** Lesson Image Upload End **/

/** Lesson Session Start **/

#lesson-sec-form input[type=checkbox] {
	margin: 0 0 0 5px;
}

#lesson-sec-form span.note {
	color: #777;
	font-size: 80%;
	min-width: 1200px;
}

.broadcast-btn{
	background-color:#FF3A2D;
	font-weight: 200;
	font-size: 12px;
	padding: 3px 10px;
	border-color: #FF3B30;
}

.broadcast-btn:hover{
	background-color:#c9302c;
}

/** Lesson Session End **/

/** Profile Start **/

#user-avatar-wrap{
	display:inline-block;
}

#user-avatar-wrap > a{
	width: 76px;
	height: 76px;
	border-radius: 40px;
	border: 1px solid #2b2b2b;
}

#user-avatar-wrap > div{
	display: inline-block;
    vertical-align: middle;
    clear: both;
    position: absolute;
    top: 50%;
    left: 110px;
    transform: translate(0, -50%);
}

.achieve-wrap{
	display: inline-block;
	width: 600px;
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.achieve-wrap p.achieve-val{
	width: 80px;
	font-size: 160%;
	font-weight: 200;
	text-align: center;
	overflow: hidden;
	border-bottom: 1px solid;
}

.achieve-wrap p.achieve-key{
	width: 80px;
	font-weight: 200;
	text-align: center;
	overflow: hidden;
	border-bottom: 1px solid;
}

.achieve-wrap > div{
	margin: 30px;
	display: inline-block;
}

#avatar-wrap{
	vertical-align: top;
}

#avatar-uploader-wrap{	
	width: 125px;
	height: 125px;
}

.profile-dash .form-label{
	width: 10%;
}

.profile-dash .form-input{
	width: 20%;
}

#verify-phone{
	margin-left: 10px;
}

.profile-personal-info{
	width: 50%;
	font-size: 0.8em;
	position: absolute;
    bottom: 0;
}

.profile-personal-info > ul{
	padding: 0 10px;
    list-style-type: disc !important;
}

.profile-personal-info li {
    color: #31708f !important;
}

#avatar-uploader-wrap > a{
	position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
}

#avatar-uploader{
	position: absolute;
    top: 0;
    left: 0;
    width: 125px;
    height: 125px;
}

/** Profile End **/


/** Teacher Settle Start ---- Agreement **/

#teacher-settle-content{
	padding: 15px 0;
	min-height: 100%;
}

#teacher-settle-content > section{
	width: 60%;
	min-height: 600px;
	margin: 0 auto;
	background-color: white;
	padding: 15px 0;
}

#teacher-settle-content .note-block{
	height: 32px;
	margin: 30px 30px 0 40px;
	
}

.note-block p{
	display: inline-block;
}

.note-block p.prompt{
	font-size: 20px;
	vertical-align: top;
	line-height: 32px;
}

.note-block p.value{
	font-size: 12px;
	margin-left: 10px;
}

.new-line{
	display: block;
}

.note-block a, .experience-input a{
	text-decoration: underline;
	color: #7FB2C5 !important;
}

.note-block a:hover, .experience-input a:hover{
	color: #A3C7D5 !important;
}

#teacher-settle-content form{
	border-top: 1px solid #eee;
	padding: 15px 0;
}

.mod-steps {
    padding: 40px 30px 0;
}

.steps-nav {
    height: 60px;
    font-size: 16px;
    padding-left: 30px;
}

.steps-nav li.active {
    background: #167ed9;
    color: #fff;
}
.steps-nav li {
    float: left;
    width: 33.3%;
    line-height: 46px;
    height: 46px;
    margin-top: 7px;
    background: #f3f3f3;
    position: relative;
    color: #777;
    box-sizing: border-box;
    padding-left: 50px;
}

.steps-nav li .i-right {
    position: absolute;
    top: -7px;
    left: -30px;
    width: 60px;
    text-align: center;
    font-size: 32px;
    color: #777;
    line-height: 60px;
    z-index: 2;
}

.icon-font {
    font-family: webfont;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 16px;
    position: relative;
    vertical-align: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.steps-nav li .steps-num {
    position: absolute;
    top: -7px;
    left: -30px;
    width: 60px;
    height: 60px;
    background: url('../images/steps-bg.png') no-repeat;
    color: transparent;
    font-size: 0;
    text-align: center;
    line-height: 58px;
}

.steps-nav li.active~li .steps-num {
    color: #777;
    font-size: 30px;
}

.steps-nav li.active .steps-num {
    color: #fff;
    font-size: 30px;
    background-position: 0 -65px;
}

.reg-protocol {
    margin: 31px 29px 0;
}

.reg-protocol #reg-pro-wrap {
	height: 500px;
	overflow-y: scroll;
    border: 1px solid #d9d9d9;
    padding: 5px 1px 5px 0;
    border-bottom: 0;
}

.reg-protocol .reg-pro-t {
    padding: 0 15px;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}

.link-blue:hover, .nor-link:hover {
    color: #62b4f7;
}

.reg-protocol .reg-pro-t p {
    margin-top: 10px;
    line-height: 20px;
    font-size: 14px;
    word-break: normal;
}

.reg-pro-agree {	
    line-height: 21px;
    padding: 6px 12px;
    border: 1px solid #d9d9d9;
}

.reg-pro-read {
    color: #e85308;
    margin-left: 26px;
}

.pro-agree {
    padding-left: 31px;
    background: url(//8.url.cn/edu/lego_modules/edu-ui/0.0.1/img/bg/icon-form.55cab122.png#unsprite) no-repeat 5px -98px;
    font-size: 14px;
    cursor: default;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    vertical-align: -1px;
    display: inline-block;
    height: 22px;
}

.reg-pro-op {
    margin-top: 30px;
    height: 52px;
    font-size: 16px;
    position: relative;
    text-align: center;
}

.reg-pro-op .btn{
	color: white !important;
}

/** Teacher Settle End ---- Agreement **/

/** Teacher Settle Start ---- Form **/

.mod-form__block-name {
    font-weight: 200;
    font-size: 18px;
    padding-bottom: 20px;
    border-bottom: 1px solid #F2F2F2;
}

.wrap-step-2 {
    padding: 40px 30px;
    overflow: hidden;
}

#teacher-info-form .form-label{
	width: 120px;
	display:inline-block;
	vertical-align: top;
}

#teacher-info-form .form-input{
	width: 200px;
	display:inline-block;
}

#teacher-info-form .long-txt{
	width: 70%;
}

#teacher-info-form .uploader{
	width: 200px;
	height: 120px;	
}

#teacher-info-form input[type=file]{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.upload-tips{
	display: inline-block;
	vertical-align: top;
}

.upload-tips p{
	color: #777;
}

.form-join{
	margin: 0 5px;
}

.experience-block{
	display: inline-block;
}

.experience-input{
	width: 433px !important;
	display: block !important;
	margin-top: 15px;
	position: relative;
}

.experience-input > a{
	position: absolute;
    top: 50%;
    right: -40px;
    transform: translateY(-50%);
}

.experience-input > a:hover{
	color: #A3C7D5 !important;
}

.experience-row{
	margin-top: 15px;
}

.add-more-btn{
	width: 100%;
    height: 30px;
    display: inline-block;
    line-height: 30px;
    text-align: center;
    margin-top: 15px;
    border: 1px solid #f3f3f3;
    background-color: #eee;
}

#ic-link, #cert-link{
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left: 0;
}

#teacher-info-form .form-submit{
	margin-top: 50px;
}

#teacher-info-form label.error{
	width: 100%;	
}

.upload-wrap > label.error{
	font-size: 14px;
    margin-top: 15px;
}

/** Teacher Settle End ---- Form **/

/** Teacher Settle Start ---- review **/

.join-msg{
	margin: 30px;
	text-align: center;
}

.join-msg p{
	text-align: center;
	margin-bottom: 10px;
}

.span-large{
	font-size: 20px;
}

.home-link{
	display: inline-block;
	margin-top: 30px;
}

/** Teacher Settle End ---- review **/


/** Error Start **/

.error-body{
	height: 100%;
	background-color: #76abbf;
	text-align: center;
	padding: 60px;
}

.error-body p{
	margin-bottom: 20px;
}

.error-title{
	font-size: 150px;
    color: #577C89;
    text-align: center;
    margin-bottom: 1px;
    text-shadow: 1px 1px 6px #96DAF3;
}

.error-message{
	font-size: 24px;
	font-weight: bold;
	font-family: proxima-nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.back-btn{
	margin-top: 20px;
	display: inline-block;
	color: white !important;
    background: #577C89;
    text-decoration: none;
    padding: 7px 120px;
    font-size: 13px;
    font-family: arial, serif;
    font-weight: bold;
    -webkit-border-radius: 3em;
    -moz-border-radius: .1em;
    -border-radius: .1em;
}

/** Error End **/

/** Profile Lesson List Start **/

.lesson-table a.link-img{
	width: 100px;
    height: 60px;
}

.lesson-table td{
	line-height: 0.8 !important;
	vertical-align: middle !important;
}

.lesson-table p{
	display: inline-block;
	line-height: 60px;
    vertical-align: top;
    margin-left: 8px;
}

.lesson-table a.link-btn{
	display: inline-block;
	width: 36px;
	height: 20px;
	line-height: 20px;
	margin: auto 2px;
	color: #76abbf !important;
	text-decoration:underline;
}

.lesson-table a.link-btn:hover{
	color: #577C89 !important;
}

/** Profile Lesson List End **/

/** Lesson Detail Start **/

.lesson-main{
	width: 100%;
	height: auto;
	padding-bottom: 30px;
	background-color: #F5FAFC;
}

.lesson-basic-wrap{
	background-color: white;
	padding-bottom: 15px;
	border-bottom: 1px solid #E0F4FE;
}

.lesson-basic{
	width: 80%;
	min-width: 1200px;
	margin: auto;
	position: relative;
	padding-left: 630px;
    min-height: 338px;
    position: relative;
}

.img-left-wrap, .img-left{
	position: absolute;
    top: 0;
    left: 0;
    width: 600px;
    height: 338px;
}

.lesson-basic .play-btn {
	width: 155px;
    height: 50px;
    top: 50%;
    left: 50%;
    font-size: 1.3em;
    color: white;
    font-weight: 100;
    letter-spacing: 2px;
    position: absolute;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 50px;
    line-height: 50px;
    text-align: center;
    background-color: rgba(0,0,0,.6);
    transform: translate(-50%, -50%);
}

.lesson-basic .play-btn > i{
	margin-right: 8px;
}

.pay-policy {
    overflow: hidden;
    margin-top: 348px;
    bottom: 0;
    color: #777;
}

.pay-policy li {
    float: left;
    margin-right: 20px;
    color: #777;
}

.pay-policy li a {
    color: #777;
}

.pay-policy i{
	width: 19px;
    height: 19px;
    margin-right: 2px;
    vertical-align: middle;
    margin-top: -1px;
    display: inline-block;
    background: url(../images/icon-pay-policy.png) no-repeat;
}

i.icon-refund {
    background-position: 0 -24px;
}

i.icon-replay{
	background-position: 0 -113px;
}

.page-tt {
    font-size: 22px;
    line-height: 1.2;
    font-weight: 200;
    margin-bottom: 10px;
}

.tt-below-line {
    margin-bottom: 20px;
}

.tt-below-line:before{
	content: "";
    display: table;
}

.tt-below-line:after{
	clear:both;
	content: "";
    display: table;
}

.tt-below-line span, .tt-below-line div{
	color: #777;
}

.tt-below-line .line-item {
    line-height: 30px;
    float: left;
}

.icon-sep {
    display: inline-block;
    vertical-align: middle;
    width: 1px;
    float: left;
    height: 14px;
    background: #eee;
    margin-right: 15px;
    margin-top: 8px;
}

.line-item{
	line-height: 30px;
	float: left;
	position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    color: #777;
}

.line-item > i{
	margin-right: 6px;
}

.item-share:hover .tips-share{
	display:block
}

.tips-share {
	display:none;
    top: auto;
    left: -24px;
    width: 100px;
    font-size: 0;
    border: 1px solid #e5e5e5;
    position: absolute;
    background: #fff;
    text-align: center;
    border-radius: 4px;
    z-index: 3000;
}

.tips-share > ul{
	margin:0;
}

.tips-share:before {
    content: "";
    width: 0;
    height: 0;
    border-bottom: 6px solid #e5e5e5;
    border-left: 6px dashed transparent;
    border-right: 6px dashed transparent;
    position: absolute;
    top: -6px;
    left: 50%;
    margin-left: -6px;
}

.tips-share:after {
    content: "";
    width: 0;
    height: 0;
    border-top: 4px solid #fff;
    border-left: 4px dashed transparent;
    border-right: 4px dashed transparent;
    position: absolute;
    bottom: -4px;
    left: 50%;
    margin-left: -4px;
    border-bottom: 4px solid #fff;
    border-top: 0;
    top: -4px;
}

.icon-qq, .icon-qzone, .icon-weixin, .icon-weibo {
    background: url(../images/c-sprite.png) no-repeat;
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    width: 30px;
}

.icon-qq{
	background-position: -5px -185px;
}

.icon-qzone {
    background-position: -36px -186px;
}

.icon-weixin {
    background-position: -66px -185px;
}

.lesson-price {
    background-color: #f3f3f3;
    margin-bottom: 20px;
}

.lesson-price-info {
    height: 40px;
    font-size: 22px;
    margin-left: 15px;
    line-height: 40px;
}

span.price-current{
	font-size: 24px;
}

span.price-orignal{
	font-size: 18px;
	margin-left: 8px;
	vertical-align: top;
}

span.price-orignal > span{
	vertical-align: top;
	text-decoration: line-through;
}

span.promt-info{
	padding: 4px 8px;
	height: 20px;
	font-size: 12px;
	vertical-align:top;
	margin-left: 15px;
	color: white;
	border-radius: 10px;
	background-color: #FF3A2D;
}

.lesson-period{
	border: 1px solid #eee;
	margin-bottom: 20px;
}

.lesson-period > p{
	height:40px;
	line-height: 40px;
	margin-left: 10px;
}

.oper-bar {
    position: absolute;
    bottom: 0;
}

.btn-join {
    width: 150px;
    line-height: 50px;
    font-size: 18px;
    border-radius: 2px;
}

.btn-join:hover{
	color: white !important;
	background-color: #6592A4;
}

.btn-blue {
    background-color: #76abbf;
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    text-align: center;
    border: 0;
    user-select: none;
    float: left;
    margin-right:10px;
}

.btn-advice-wording {
    width: 147px;
    height: 48px;
    line-height: 48px;
    font-size: 18px;
}

.btn-outline {
    color: #76abbf;
    border: 1px solid #76abbf;
    background-color: #fff;
    display: inline-block;
    vertical-align: middle;
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
    user-select: none;
    box-sizing: initial;
    float:left;
}

.btn-advice{
	line-height: 48px;
    margin-left: 0;
    font-size: 18px;
    text-align: center;
}

.btn-advice-tel {
    width: 73px;
    height: 48px;
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.btn-advice-qq {
    border-right: 1px solid #76abbf;
    width: 73px;
    height: 48px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.btn-advice-wrap:hover .btn-advice-wording{
	display:none;
}

.btn-advice-wrap:hover .btn-advice {
	display:inline-block !important;
}

.lesson-detail-wrap{
	margin: 20px auto;
	width: 80%;
	min-width: 1200px;
}

.lesson-detail{
	float: left;
    width: 100%;
    box-sizing: border-box;
}

.lesson-detail .content{
	margin-right: 340px;
	background: #fff;
    box-sizing: border-box;
    padding: 0 20px 30px;
    border-radius: 4px;
    border: 1px solid #E0F4FE;
}

.tabs-tt-bar {
    height: 45px;
    margin-bottom: 20px;
    margin-left: -20px;
}

.tabs-tt-bar:before{
	content: "";
    display: table;
}

.tabs-tt-bar:after {
    clear: both;
}

.tabs-tt-bar .tabs-tt.active {
    color: #039ae3;
    border-top-color: #039ae3;
}
.tabs-tt-bar .tabs-tt {
    border-top: 5px solid #fff;
    line-height: 50px;
    padding: 0 40px;
    font-size: 16px;
    float: left;
    cursor: pointer;
}

.tabs-tt{
	font-weight: 200;
}

.guide-tt {
    font-size: 16px;
    line-height: 2;
    margin-bottom: 10px;
    font-weight: 300;
}

.teacher-list {
    overflow: hidden;
    margin-right: -20px;
    margin-left: -20px;
}

.teacher-item {
    width: 100%;
    margin-bottom: 40px;
    position: relative;
    overflow: hidden;
}

.teacher-item > a{
	width: 100px;
    height: 100px;
    margin-right: 20px;
    display: inline-block;
    position: absolute;
    top:0;
    left:0;
    border-radius: 50px;
}

.teacher-summary{
	height: 100px;
	display: inline-block;
	padding-left: 120px;
}

.tb-course {
    table-layout: fixed;
    width: 100%;
}

.tb-course th {
    width: 80px;
    color: #777;
    vertical-align: top;
}

.tb-course td {
    padding: 0 0 20px 0;
    border-bottom: 1px dashed #eee;
}

.course-class-task{
	position: relative;
	background: #f3f3f3;
	height: 50px;
	margin-bottom: 30px;	
}

.task-schedule {
    padding: 20px;
    overflow: hidden;
}

.task-schedule {
    overflow: hidden;
    position: relative;
    padding: 25px 120px 25px;
}

.schedule-start{
    margin-top: -13px;
    left: 10px;
    position: absolute;
    top: 50%;
}

.schedule-progress-wrap {
    position: relative;
    margin-top: -4px;
}

.schedule-progress{
	height: 8px;
}

.schedule-progress {
    background: #ccc;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}

.task-schedule .percent {
    background: #5fb41b;
    height: 8px;
    display: block;
    overflow: hidden;
    border-radius: 8px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.schedule-end {
	position: absolute;
    top: 50%;
	right: 10px;
    margin-top: -13px;
}

.task-part-item {
    margin-bottom: 10px;
}

.task-part-hd {
    margin-bottom: 10px;
    height: 40px;
    line-height: 40px;
    height: 40px;
    background: #f3f3f3;
    position: relative;
}

.task-task-list {
    margin-left: 20px;
    margin-right: 20px;
}

.tt-prefix {
    background: #666;
    color: #fff;
    width: 72px;
    text-align: center;
    font-size: 18px;
    float: left;
    margin-right: 8px;
}

.part-tt {
    font-size: 18px;
    line-height: 40px;
    font-weight: 200;
}

.task-task-item {
    position: relative;
    line-height: 40px;
    padding-left: 53px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.task-task-item .item-icon {
    position: absolute;
    left: 30px;
    top: 50%;
    text-align: center;
    font-size: 25px;
    color: #a3d2f8;
    transform: translate(-50%, -50%);
}

.tt-suffix {
    color: #777;
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
}

.comment-filter {
    background: #f3f3f3;
    border: 1px solid #e5e5e5;
    padding: 10px 0;
    position: relative;
}

.comment-statistics {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 125px;
    border-right: 1px solid #e5e5e5;
    margin: -5px 0;
}

.statistics-num {
    color: #FF3A2D;
    font-size: 28px;
    line-height: 1;
    display: block;
}

.f-rc-list {
    display: inline-block;
}

.f-radio {
    margin-left: 30px;
    margin-right: 0;
    margin-bottom: 0;
    display: inline-block;
    vertical-align: middle;
    line-height: 20px;
    cursor: pointer;
}

.icon-radio{
	float: left;
    width: 18px;
    height: 18px;
    background: url(../images/icon-form.png) no-repeat;
    margin-right: 5px;
    margin-top: 1px;
    cursor: pointer;
}

.f-radio.checked .icon-radio{
	background-position: 0 -40px;
}

.comment-list .comment-item:first-child {
    border-top: 0;
}

.comment-list .comment-item {
    position: relative;
    padding: 20px 20px 20px 80px;
    border-top: 1px solid #e5e5e5;
}

.comment-item .item-left {
    position: absolute;
    width: 80px;
    text-align: center;
    top: 20px;
    left: 0;
}

.comment-item .user-avatar {
    border-radius: 50%;
}

comment-item .item-right {
    position: relative;
}

.comment-item .star-list {
    margin-top: -4px;
}
.star-list {
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
}

.star-list .fa-star {
    color: #ffb200;
    margin-right: 5px;
    font-size: 18px;
}

.i-star:before {
    content: "\f115";
}

.comment-ft {
    color: #777;
}

.lesson-gallery{
	margin-top: 20px;
}

.img-item{
	margin-bottom: 15px;	
}

.img-tt{
	text-align: center;	
}

.img-item img {
    width: 100%;
}

.aside-right {
    float: left;
    width: 330px;
    box-sizing: border-box;
    margin-left: -330px;
    padding: 20px;
    border-radius: 4px;
    border: 1px solid #E0F4FE;
    background-color: white;
}

.aside-right .serv-tt{
	font-size: 16px;
	font-weight: 200;
}

.aside-right .serv-brief{
	font-size: 12px;
	font-weight: 200;
	color: #777;
	padding: 10px 0;
	border-bottom: 1px solid #eee;
}

.univercity-list{
	margin: 15px 0;	
	border-bottom: 1px solid #eee;
}

.univercity-item{
	margin: 10px 0;
}

.univercity-item a{
	width: 60px;
	height: 60px;
	float: left;
	border-radius: 30px;
}

.univercity-item p{
	display: inline-block;
	line-height: 60px;
	margin-left: 15px;
	overflow: hidden;
}

/** Lesson Detail End **/

/** Lesson price Start **/

#lesson-price-form .form-label{
	width: 10%;
	min-width: 50px;
}

#lesson-price-form .form-input{
	width: 20%;
	min-width: 200px;
}

.expand-cell-wrap {
    width: 800px;
    margin: 15px 0;
    background-color: #f3f3f3;
    position: relative;
}

.expand-cell-header {
    height: 50px;
    padding-left: 15px;
    line-height: 50px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
    position: relative;
}

.expand-cell-wrap .icon {
    float: left;
    position: relative;
    margin-right: 15px;
}

.expand-cell-wrap .icon > i{
	font-size: 20px;
}

.expand-cell-header .section-title {
    font-size: 16px;
}

.expand-cell-detail {
    transition: all .2s linear;
    height: 0;
    background: #fff;
    border: 0 solid #eee;
    padding: 0 15px;
    position: relative;
    overflow: hidden;
}

.expand-cell-wrap.expend .expand-cell-detail {
    padding: 15px;
  	border: 1px solid #eee;
 	height: auto;
} 

.splitor{
	margin: 0 10px;
}

.popover-select{
	left: 50%;
    bottom: 56px;
    display: block;
    position: absolute;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: start;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    border: 1px solid rgba(0, 0, 0, .2);
    transform: translate(-50%, 0);
}

.popover-select > .arrow {
    bottom: -11px;
    left: 50%;
    margin-left: -11px;
    border-top-color: rgba(0, 0, 0, 0);
    border-width: 11px;
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-bottom-width: 0;
}

.popover-select > .arrow:after {
    bottom: 1px;
    margin-left: -10px;
    content: "";
    border-width: 10px;
    border-bottom-width: 0;
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-top-color: #fff;
}

.ms-container{
	padding: 10px 0;
}

ul.ms-list{
	max-height: 300px;
}

.ms-selectable li.ms-elem-selectable,
.ms-selection li.ms-elem-selection{
  border-bottom: 1px #eee solid;
  padding: 5px 10px;
  font-size: 16px;
}

.ms-selectable li:hover,
.ms-selection li:hover{
  cursor: pointer;
  text-decoration: none;
  background-color: #76abbf;
}

.ms-selectable li:hover span,
.ms-selection li:hover span{
	color: white;
}

.currency{
	color: #777;
}

/** Lesson price End **/

/** Register Lesson List Start **/

.tab-ctn {
    width: 100%;
    position: relative;
    z-index: 1;
}

.tab-ctn .tab-course-list {
    width: 100%;
    min-width: 750px;
    height: 140px;
}

.tab-item-ctn {
    width: 250px;
    height: 120px;
    margin-right: 2px;
    background: #f8f8f8;
    float: left;
    padding: 30px 15px;
    box-sizing: border-box;
    border: 1px solid #f3f3fe;
    position: relative;
}

.tab-item-ctn.active {
    border-color: #188eee;
    background: #188eee;
    color: #fff;
}

.tab-item-ctn .tab-title {
    font-size: 16px;
    max-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.tab-item-ctn .process-ctn {
    position: absolute;
    left: 16px;
    bottom: 20px;
}

.tab-item-ctn.active .process-ctn{
	display: none;
}

.tab-item-ctn .process-full {
    width: 140px;
    height: 2px;
    background: #a3d2f8;
    float: left;
    margin-top: 10px;
    margin-right: 10px;
}

.tab-item-ctn .process-full .process-done {
    height: 2px;
    background: #188eee;
}

.tab-item-ctn .process-text {
    font-size: 12px;
    color: #a3d2f8;
}

.tab-item-ctn.active .course-date {
    display: block;
}

.tab-item-ctn.active .course-date {
    color: #a3def8;
}

.tab-item-ctn .course-date {
    color: #777;
}

.tab-item-ctn.active:after {
    left: 116px;
    bottom: -10px;
    position: absolute;
    border-top: 10px solid #188eee;
    border-left: 10px dashed transparent;
    border-right: 10px dashed transparent;
    border-top-width: 10px;
}

.tab-item-ctn.active:after {
    content: "";
    height: 0;
    width: 0;
    overflow: hidden;
}

.details-ctn {
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

.details-ctn i.loading-bar{
	position: absolute;
	font-size: 30px;
	top: 60%;
    left: 47%;
}

.term-ctn {
    position: relative;
    line-height: 30px;
    height: 36px;
    display: inline-block;
    min-width: 175px;
}

.details-ctn .course-settings-ctn {
    position: absolute;
    top: 15px;
}

.course-settings-ctn .ctrl-item {
    float: left;
    margin-right: 10px;
    line-height: 28px;
    height: 28px;
    color: #333;
}

.course-settings-ctn i{
	font-size: 140%;
	margin-right: 6px;
}

.course-settings-ctn .action-item {
    cursor: pointer;
}

.course-settings-ctn .ctrl-item {
    float: left;
    margin-right: 10px;
    line-height: 28px;
    height: 28px;
    color: #2b2b2b;
}

.course-settings-ctn .before-line:before {
    position: relative;
    display: inline-block;
    top: 5px;
    width: 10px;
    height: 20px;
    border-left: solid 1px #ccc;
    content: "";
}

.comments-ctn {
    display: inline-block;
}

.section-wrap {
    margin-top: 30px;
    margin-bottom: 10px;
}

.section-wrap .title{
	font-size: 18px;
    font-weight: 400;
    line-height: 40px;
}

.section-wrap .nums {
    font-size: 14px;
    font-weight: 200;
}

.detail-item-ctn {
    width: 100%;
    font-size: 16px;
    background: #f8f8f8;
}

.detail-item-ctn .icon {
    float: left;
    margin-right: 10px;
    position: relative;
    width: 42px;
    height: 42px;
}

.detail-item-ctn .icon > span{
	font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.detail-item-ctn .icon .index {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    left: 3px;
    top: 3px;
    color: #188eee;
}

.detail-item-body {
    transition: all .2s linear;
    background: #fff;
    border: 1px solid #eee;
    margin-top: -1px;
    height: auto;
    padding: 16px;
    position: relative;
    overflow: hidden;
}

.detail-item-body:before {
    content: '';
    width: 1px;
    position: absolute;
    /* top: 35px; */
    bottom: 53px;
    background: #a3d2f8;
    left: 31px;
}

.task-item-ctn {
    width: 100%;
    font-size: 14px;
    position: relative;
}

.task-title, .sub-title{
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sub-title {
    color: #777;
}

.task-item-ctn .task-button-ctn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0, -50%);
}

.task-button-ctn .task-btn.border {
    border-width: 1px;
    border-style: solid;
}
.task-button-ctn .task-btn.info {
    border-color: #188eee;
    background-color: transparent;
}
.task-button-ctn .task-btn {
    min-width: 80px;
    border-radius: 2px;
    text-align: center;
    box-sizing: border-box;
}

.task-button-ctn .task-btn{
    display: inline-block;
    padding: 4px 0;
    width: 100%;
    color: #777;
}
/** Register Lesson List End **/








