@(lessons: List[Lesson])

<div class="modal fade" id="comment-model" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="modal-block">
			<a class="link-img"></a>
			<div class="lesson-brief">
				<p class="bold-style les-tt">A Level Chinese</p>
				<p>
					<span class="lbl-key">Tutor：</span>
					<span class="lbl-value">changming</span>
				</p>
			</div>
		</div>
      </div>
      <form id="comment-form" action="@routes.CommentController.createComment()" method="POST">
		<div class="modal-body">
      		<input name="lessonId" value="" type="hidden"/>
      		<input name="point" value="5" type="hidden">
      		<div class="f-item"> 
      			<label class="f-label">Rating:</label> 
      			<div class="f-field"> 
      				<div class="star-list"> 
      					<i data-index="1" class="fa fa-star"></i> 
      					<i data-index="2" class="fa fa-star"></i> 
      					<i data-index="3" class="fa fa-star"></i> 
      					<i data-index="4" class="fa fa-star"></i> 
      					<i data-index="5" class="fa fa-star active"></i> 
    				</div> 
    				<div class="star-list-intro"> 
    					<span class="star-num">5 Star</span> 
    					<span class="star-text">5 Star, Excellent class!</span> 
   					</div> 
				</div> 
			</div>
			<div class="f-item"> 
				<label class="f-label">Experience:</label> 
				<div class="f-field"> 
					<div class="form-group comment-textarea"> 
						<textarea class="form-control" rows="5" name="comment" placeholder="How is your experience？Tell us how you feel."></textarea> 
						<p class="comment-tips">Tell us how we're doing and let us improve. We're here with you every step of the way！</p> 
					</div> 
				 </div>
			</div>
		</div>
		<div class="modal-footer">
      		<div class="form-group">
	        	<input id="save-comment-btn" type="submit" class="btn btn-success" value="Submit Comment">
	        </div>
      	</div>
      </form>
    </div>
  </div>
</div>

<script type="text/javascript">
	$(function(){
		point = 5;
		$('.star-list i').hover(function(){
			$('.fa-star.active').removeClass('active');
			$(this).addClass('active');
			var index = $(this).attr('data-index');
			if(index == 1){
				$('.star-num').text('1 Star');
				$('.star-text').text('Poor experiences！I am not satisfied！');
			}else if(index == 2){
				$('.star-num').text('2 Star');
				$('.star-text').text('Class experences need to be improved！');
			}else if(index == 3){
				$('.star-num').text('3 Star');
				$('.star-text').text('Good！');
			}else if(index == 4){
				$('.star-num').text('4 Star');
				$('.star-text').text('Great！I am very satisfied！');
			}else{
				$('.star-num').text('5 Star');
				$('.star-text').text('Give 5 Star, Excellent class!');
			}
		}, function(){
			$('.fa-star.active').removeClass('active');
			var selStar = $('.star-list i[data-index='+point+']');
			selStar.addClass('active');
			if(point == 1){
				$('.star-num').text('1 Star');
				$('.star-text').text('Poor experiences！I am not satisfied！');
			}else if(point == 2){
				$('.star-num').text('2 Star');
				$('.star-text').text('Class experences need to be improved！');
			}else if(point == 3){
				$('.star-num').text('3 Star');
				$('.star-text').text('Good！');
			}else if(point == 4){
				$('.star-num').text('4 Star');
				$('.star-text').text('Great！I am very satisfied！');
			}else{
				$('.star-num').text('5 Star');
				$('.star-text').text('Give 5 Star, Excellent class!');
			}
		});
		
		$('i.fa-star').click(function(){
			point = $(this).attr('data-index');
			$('input[name="point"]').val(point);
		});
		
		$('#comment-model').on('show.bs.modal', function () {
			var lesId = $('.tab-item-ctn.active').attr('data-ID');
			@for(lesson <- lessons){
				if('@lesson.id' === lesId.toString()){
					$('input[name="lessonId"]').val(lesId);
					$('.lesson-brief > .les-tt').text('@lesson.title');
					$('.lesson-brief .lbl-value').text('@lesson.teacher.realName');
					$('#comment-model .link-img').css('background-image', 'url(\'/lesson/show/cover?lessonId='+ lesId +'\')');
				}
			}
		});
		
		$("#comment-form").validate({
	        rules: {
	        	comment:{
	            	minlength: 5,
	                maxlength: 200,
	            	required:true
	            }
	        },
	        highlight: function (element) {
	            $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
	        },
	        unhighlight: function (element) {
	            $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
	        },
	        submitHandler: function(form) {
	        	var spinner = $('<i class="glyphicon glyphicon-refresh glyphicon-spinner spinner"></i>');
	        	$('#save-comment-btn').after(spinner);
	        	$('#save-comment-btn').val('');
	        	$('#save-comment-btn').attr("disabled", true);
	        	
	        	$.ajax({
	                url: "@routes.CommentController.createComment()",
	                type: "POST",
	                data: $(form).serialize(),
	                success: function(response, status) {
	                	var data = $.parseJSON(JSON.stringify(response));
	                	if(data.code != 0){
	                		showAlertToast(data.message, "alert-danger");
	                	}else{
	                		$('#comment-model').modal('hide');
	                		showAlertToast(data.message, "alert-success");
	                	}
	                	spinner.remove();
	                	$('#save-comment-btn').attr("disabled", false);
	                	$('#save-comment-btn').val("Submit Comment");
	                },
	                error: function(request, status, err){
	                	showAlertToast(err, "alert-danger");
	                	spinner.remove();
	                	$('#save-comment-btn').attr("disabled", false);
	                	$('#save-comment-btn').val("Submit Comment");
	                }
	            });
	        }
	    });
		
   	});
</script>