<div class="modal fade" id="advisory-phone-model" role="dialog">
  	<div class="modal-dialog" role="document">
    	<div class="modal-content">
	      	<div class="modal-header">
	        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        	<h3>@messages.at("advisory.phone_no")</h3>
	      	</div>
			<div class="modal-body">
				<i class="fa fa-check-circle"></i>
				<div class="contact-info">
					<p>@messages.at("advisory.sg_call") +65 8204-5325</p>
					<p>@messages.at("advisory.cn_call") +86 132-3408-8586</p>
				</div>
	      	</div>
	      	
	      	<div class="modal-footer">
	      		<div class="form-group">
		        	<button class="btn btn-success" data-dismiss="modal" aria-label="Close">@messages.at("advisory.ok")</button>
		        </div>
	      	</div>	
    	</div>
  	</div>
</div>