@import tags._

@(account: Account)
 
@scripts = {}

@main(scripts, "线上教学平台——Ekoo教育") {
	@topbar(account)
	<div class="page-content"> 
		<div class="inner-content policy-content">
			
			<h4>EkooEdu Privacy Policy</h4>

			<p class="grey">Last updated on 12 March 2017</p><br/>
			
			<p><b>1. Principles and Objectives</b></p>
			
			<p>At EkooEdu, we understand that your privacy is important and we endeavour to
			
			protect your personal information. As used in this Privacy Policy, “Personal
			
			Information”  or “Personal Data” means information such as: your name; mailing
			
			address; email address; telephone number; or other personal information that may be
			
			supplied by you or collected about you as required by us, particularly prior to or
			
			during, and as a result of the provision of educational services. We hope that this
			
			Policy helps you to understand how we handle and use any personal data after
			
			collection.</p><br/>
			
			<p><b>2. Use of Personal Data</b></p>
			
			<p>EkooEdu understands and respects the privacy of individuals. Personal information is
			
			collected with your consent. The purpose for collecting this information varies
			
			depending upon your request and will include:</p>
			
			<ul class="policy-list">
				<li>helping us to improve our service to you;</li>
			
				<li>processing your application and/or registration and/or enquiry;</li>
				
				<li>tailoring the course content to the specific needs of your children;</li>
				
				<li>informing you of upcoming events;</li>
				
				<li>updating your records in our databases;</li>
				
				<li>monitoring and maintaining a copy of your record of academic achievement;</li>
				
				<li>planning the provision of educational courses and activities;</li>
				
				<li>monitoring and enhancing the provision of educational courses and activities;</li>
				
				<li>purposes incidental to each or all of the above.</li>
			</ul>
			
			
			<p>While the supply of the information by you is voluntary, if you cannot provide or do
			
			not wish to provide the information sought, EkooEdu may be unable to meet the
			
			purposes for which the information was collected.
			
			EkooEdu compiles this information into a statistical aggregate and uses this
			
			information for educational research, internal business and administrative purposes
			
			which includes improving our products and service offerings, and enhancing our
			
			customer service level. EkooEdu will use your personal data from time to time to send
			
			you notices about special information, new programmes, and other similar
			
			information.</p>
			
			<p>EkooEdu will not reveal customer information to any external organisation unless
			
			required by law. EkooEdu does not sell, trade or rent your personal information to
			
			others. EkooEdu will never use any personal data for its external communication or
			
			promotional purposes without the explicit written consent of the user / parents. In
			
			particular, EkooEdu will always seek the explicit written consent of the concerned
			
			user or parent before the public use of coaching session videos.</p><br/>
			
			<p><b>3. Specific private notice for children under 12</b></p>
			
			<p>It is EkooEdu’s policy to limit the collection of personal information from children to
			
			only that which is necessary to obtain parental consent or to participate in a EkooEdu
			
			program or activity after we have obtained parental consent. Children under 12 years
			
			old are not allowed to subscribe or create an account. Only a parent, guardian, or
			
			teacher can register the children on the site or give them access to any of EkooEdu
			
			services. As for it, during the registration process, we collect only enough personal
			
			information (i.e., parent’s name and email address) necessary to obtain a parent’s
			
			permission for his/her child to become a member of EkooEdu.</p><br/>
			
			<p><b>4. General</b></p>
			
			<p>Although every reasonable effort has been made to ensure that all personal
			
			information will be so protected, EkooEdu cannot be responsible for any unauthorised
			
			use or misuse of such information and from risks which are inherent in all internet
			
			communications.
			
			EkooEdu reserves the right to change this Policy with or without notice from time to
			
			time.</p>
			
			
	    </div>
    </div>
    @entry(account)
    @modalcreatelesson()
}


