@import tags._
@import tools.Constants

@(user: User, achieventmentVO: modelVOs.AchievementVO)

@profileframe(user, achieventmentVO, 1){
	<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets//bootstrap-datetimepicker.min.css")">
	<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/froala/font-awesome.min.css")">
	<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/froala_v2/froala_editor.min.css")">
	<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/froala_v2/froala_style.min.css")">
	<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/froala_v2/colors.min.css")">
	
	<script src="@routes.Assets.versioned("javascripts/moment.js")" type="text/javascript"></script>
	<script src="@routes.Assets.versioned("javascripts/froala_v2/froala_editor.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.versioned("javascripts/froala_v2/font_size.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.versioned("javascripts/froala_v2/font_family.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.versioned("javascripts/froala_v2/colors.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.versioned("javascripts/bootstrap-datetimepicker.js")" type="text/javascript"></script>
	<script type="text/javascript">
		$(function(){
			$(document).on('focus',".from-datepikcer", function(){
			    $(this).datetimepicker();
			});
			
			$(document).on('focus',".to-datepikcer", function(){
			    $(this).datetimepicker();
			});
			
			$('#personal-brief').froalaEditor({
				toolbarInline: true
			});
			
			$('#personal-save').on('click', function(){
				$('form#personal-main-form').submit();
			});
			
			$(document).on('click', "a.add-more-btn", function(){
				var experRow = '<div class="experience-row">';
				experRow += '<div class="form-input">';
				experRow += '<input type="text" class="form-control from-datepikcer datepicker" name="fromDate[]" data-date-format="YYYY-MM-DD" placeholder="@messages.at("placeholder.start_date")">';
				experRow += '</div>';
				experRow += '<span class="form-join">To</span>';
				experRow += '<div class="form-input">';
				experRow += '<input type="text" class="form-control to-datepikcer datepicker" name="toDate[]" data-date-format="YYYY-MM-DD" placeholder="@messages.at("placeholder.end_date")">';
				experRow += '</div>';
				experRow += '<div class="form-input experience-input">';
				experRow += '<input type="text" class="form-control" name="workExperience[]" placeholder="@messages.at("placeholder.teaching_experience")">';
				experRow += '<a href="javascript:;" class="del-experience-btn">@messages.at("btn.delete")</a>';
				experRow += '</div></div>';
				
				$(this).before(experRow);
			});
			
			$(document).on('click', "a.del-experience-btn", function(){
				$(this).closest('.experience-row').remove();
			});
			
			$('#personal-index-save').on('click', function(){
				$('form#personal-main-form').submit();
			});
			
			$("#personal-main-form").validate({
				ignore: [],
		        rules: {
		        	realName:{
		            	minlength: 2,
		                maxlength: 50,
		            	required:true
		            },
		            brief:{
		            	minlength: 10,
		            	required:true
		            },
		            institution:{
		            	required:true
		            },
		            'workExperience[]': {
		            	required: true
		            },
		            'fromDate[]':{
		            	largerThanToday: true,
		            	required: true
		            },
		            'toDate[]':{
		            	required: true
		            }
		        },
		        highlight: function (element) {
		            $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
		        },
		        unhighlight: function (element) {
		            $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
		        },
		        submitHandler: function(form) {
		        	var spinner = $('<i class="glyphicon glyphicon-refresh glyphicon-spinner"></i>');
		        	$('#personal-index-save').append(spinner);
		        	$('#personal-index-save').val('');
		        	$('#personal-index-save').attr("disabled", true);
		        	
		        	$('input.datepicker').each(function(index, value){
		        		var utcDate = toUTC(new Date($(this).val()));
		        		$(this).val(moment(utcDate).format('YYYY-MM-DD'));
		        	});
		        	
		        	$.ajax({
		                url: "@routes.ProfileController.updateTeacherInfo()",
		                type: "POST",
		                data: $(form).serialize(),
		                success: function(response, status) {
							var data = $.parseJSON(JSON.stringify(response));
		                	
		                	if(data.code != 0){
		                		showAlertToast(data.message, "alert-danger");
		                	}else{
		                		showAlertToast(data.message, "alert-success");
		                	}
		                	
		                	spinner.remove();
		                	$('#personal-index-save').attr("disabled", false);
		                	$('#personal-index-save').val('Save');
		                },
		                error: function(request, status, err){
		                	showAlertToast(err, "alert-danger");
		                	spinner.remove();
		                	$('#personal-index-save').attr("disabled", false);
		                	$('#personal-index-save').val('Save');
		                }
		            });
		        }
		    });
			
			$.validator.addMethod("largerThanToday", function(value, element) {
	            return new Date() > Date.parse(value) || value == "";
	        }, "Date must be after today");
			
			$('input.datepicker').each(function(index, value){
        		var localDate = toLocal(new Date($(this).val()));
        		$(this).val(moment(localDate).format('YYYY-MM-DD'));
        	});
			
	   	});
	</script>
	
	<div class="dash-detail-header">
		<p>@messages.at("teacher.teacher_info")</p>
		<a id="personal-index-save" class="btn btn-success">@messages.at("btn.save")</a>
	</div>
	<form id="personal-main-form">
		<div class="form-group">
			<div class="form-label">
				<label for="real-name"><b>*</b>@messages.at("teacher.realname"):</label>
			</div>
			<div class="form-input">
				<input id="real-name" type="text" class="form-control" name="realName" placeholder="@messages.at("placeholder.realname")" value="@user.realName">
			</div>
		</div>
		
		<div class="form-group">
			<div class="form-label">
				<label for="personal-brief"><b>*</b>@messages.at("teacher.person_info"):</label>
			</div>
			<div class="form-input long-txt">
				<textarea id="personal-brief" class="form-control" name="brief" rows="3" placeholder="@messages.at("placeholder.teacher_brief")">@user.brief</textarea>
				<div class="upload-tips">
					<p>@messages.at("message.teacher_brief")<span class="orange">@messages.at("message.words", "200")</span> </p>
				</div>
			</div>
		</div>
		
		<div class="form-group">
			<div class="form-label">
            	<label for="best-institution"><b>*</b>@messages.at("teacher.institution"):</label>
			</div>
         	<div class="form-input long-txt">
         		<div class="form-input">
         			<input id="best-institution" type="text" class="form-control" name="institution" placeholder="@messages.at("placeholder.institution")" value="@user.bestInstitution">
				</div>
				<div class="upload-tips institution-tip">	
					<p>@messages.at("message.best_institution")</p>
				</div>
			</div>
		</div>
		
		<div class="form-group">
			<div class="form-label">
				<label for="start-datepicker"><b>*</b>@messages.at("teacher.experience"):</label>
			</div>
			<div class="experience-block">
				@for(index <- 0 until user.workExperiences.size){
					<div class="experience-row">
						<div class="form-input">
							<input type="text" class="form-control from-datepikcer datepicker" name="fromDate[]" data-date-format="YYYY-MM-DD" placeholder="@messages.at("placeholder.start_date")" value='@user.workExperiences(index).fromDate.format("yyyy-MM-dd")'>
						</div>
						<span class="form-join">To</span>
						<div class="form-input">
							<input type="text" class="form-control to-datepikcer datepicker" name="toDate[]" data-date-format="YYYY-MM-DD" placeholder="@messages.at("placeholder.end_date")" value='@user.workExperiences(index).toDate.format("yyyy-MM-dd")'>
						</div>
						<div class="form-input experience-input">
							<input type="text" class="form-control" name="workExperience[]" placeholder="@messages.at("placeholder.teaching_experience")" value='@user.workExperiences(index).brief'>
							@if(index == 0){	
								<a href="javascript:;" class="del-experience-btn hidden">@messages.at("btn.delete")</a>
							}else{
								<a href="javascript:;" class="del-experience-btn">@messages.at("btn.delete")</a>
							}
						</div>
					</div>
				}
				<a class="add-more-btn">+@messages.at("btn.more_experience")</a>
			</div>
		</div>	
	</form>
}