@import tags._

@(account: Account)

@scripts = {
	<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/froala/font-awesome.min.css")">
}

@main(scripts) {
	@topbar(account)
	
	<div id="teacher-settle-content" class="dash-bg">
		<section>
			<div class="note-block">
				<p class="prompt">老师入驻</p>
				<p class="value">
					<span>链接亿万用户，传递思想，实现价值</span>
					<span class="new-line">目前对个人老师开放全部课程类型的课程发布。<a>了解更多</a></span>
				</p>
			</div>
			
			<div class="mod-steps">
				<ul class="steps-nav">
					<li><i class="i-right fa fa-check"></i><span class="steps-num">1</span>签订入驻协议</li>
					<li><i class="i-right fa fa-check"></i><span class="steps-num">2</span>提交资料</li>
	                <li class="active"><i class="icon-font i-right"></i><span class="steps-num">3</span>入驻审核</li>
				</ul>
			</div>
			
			<div class="wrap-step wrap-step-3" style="display: block;">
				<div class="join-msg">
					<p class="orange span-large">感谢您加入我们的教师队伍!</p>
					<p>为了是保证给每个学生提供最优质的教学体验，我们将在<span class="span-large orange">48</span>小时内对您提交的资料进行审核,<br>
						请您耐心等待审核结果...
					</p>
					<a class="btn btn-info home-link" href="@routes.HomeController.index()">返回主页</a>
				</div>
			</div>
		</section>
	</div>
}